h1:hover{
    background-color:darkcyan;
    display: block;
    color:blue;
    padding: 50px;
    font-size: 30px;
    margin: 40px;
    font-weight: 700;
}

.middle-person:focus{
    color: indianred;
    font-weight: 700;
    background-color: rosybrown;
}