h1:hover{
    background-color:darkcyan;
    display: block;
    color:blue;
    padding: 50px;
    font-size: 30px;
    margin: 40px;
    font-weight: 700;
}

.middle-person:focus{
    color: indianred;
    font-weight: 700;
    background-color: rosybrown;
}
a:visited{
   color: whitesmoke;

}
li:first-child{
    background-color: tomato;
}
li:nth-child(n){
    color: greenyellow;
}
li:nth-last-child(2n+1){
    color: aqua;
}
h3::after{
    content: 'kamla';
}
h3:before{
    content: 'manus'
}